$font-color: white;
$header-color:#c2c2c2;
$font-size:12px;
$font-size-media:100%;


/*Border Radius Mixin*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($value1,$value2,$value3, $color){
  -webkit-box-shadow : $value1 $value2 $value3 $color;
           box-shadow: $value1 $value2 $value3 $color;
}

@mixin animation-translate($time) {
  -webkit-transition:-webkit-transform $time linear;
}

@mixin center-element($position){
    position: $position;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


body {
  overflow:hidden; 
}
body *{
  font-size: $font-size;
  overflow: hidden;
  h1{font-size: 1.5em;}
}
section > div{height:100%;position: relative;}

/* RULES FOR 
 * INDEX MAIN PAGE
 * EVERY SINGLE
 * RULE IS JUST FOR THIS PAGE
 */
.index {
    header.hacelo_main_header {
        width: 100%;
        height: 20%;
        background: $font-color;
        text-align: center;
        position: relative;
        img {
          height: 100%;
        }
    }
    .content {
        background: #c2c2c2;
        position: relative;

        .options-index {
          position: absolute;
          height: 35%;
          bottom: 0;
          width: 100%;
          a{
            position: relative;
            width: 90%;
            display: inline-block;
            margin: 3% 5%;
            background: white;
            padding: 5% 0;
            float: left;
            text-align: center;
          }
        }
    }
}

/* RULES FOR 
 * ALL PAGES 
 * WITHOUT EXCEPTION
 */
section header {
  font-size: 1em;
  color: white;
  height: 49px;
  background: $header-color;
  text-align: center;
  z-index:3;
  @include box-shadow(-2px,0px,15px, #000);
  position: absolute;
  width: 100%;

  .left{
    float:left;
    width:25%;
  }
  h1{
    padding-top: 18px;
    float:left;
    width: 50%;
  }

  .left,
  .right {
    height: 24px;
    margin: 8px 0 0;
    padding: 8px 0 0;
    background: grey;
  }
}

.index{
  height: 100%;
}

.content  {height: 80%;}
.container {
  height: 100%;
}

/*
 * PRINT PAGE
 * GLOBAL SEETINGS
 */
.print {
  .container {
    & > div {
      height: 33.3%;
      width:100%;
      border: 1px solid #000;
      background: #c2c2c2;
      position: relative;

      a {
        height: 10px;
        padding: 5% 10px;
        text-align: center;
        border: 1px solid #000;
        @include center-element(absolute);
        width: 80%;
      }
    } 

  }
}

/*
 * PHOTO PAGE
 * GLOBAL SEETINGS
 */

.photo-page {
  .container {
    .photo-cover{
      background: #c2c2c2;
      height: 60%;
      width: 100%;
    }
    .cover {
      color:white;
      height: 10%;
      background: red;
      position: relative;

      span {
        @include center-element(absolute);
        width: 100%;
        height: 12px;
        text-align: center;
      }
    }

    .menu {
      height:30%;
      text-align: center;
      padding-top: 5%;
      p{
        text-transform: capitalize;
        font-size: 1.2em;
        padding: 2% 0;
        span {
          font-size: 1.2em;
          font-weight: bold;
          margin-right: 2%; 
        }
      }
      .pick-container {
        position: absolute;
        width: 100%;
        bottom: 5%;
        a { 
          border: 1px solid #000;
          padding: 5%;
          margin: 2% 0 0;
          display: inline-block;
          width: 50%;
        }
      }
      
    }
  }
}

/*
 * PHOTO PICK PAGE
 * GLOBAL SEETINGS
 */
.photo-page-picker{
  .container {
    padding-top:49px;
    box-sizing:border-box;
    overflow-y:scroll;
    .username-hidden-field {
      @include animation-translate(0.2s);
      -webkit-transform:translate3d(0,-150%,0);
      text-align: center;
      -webkit-box-shadow: 2px 2px 10px 0px, inset 2px -5px 19px 0px rgba(135,135,135,1);;
      -moz-box-shadow: 2px 2px 10px 0px, inset 2px -5px 19px 0px rgba(135,135,135,1);;
      box-shadow: 2px 2px 10px 0px, inset 2px -5px 19px 0px rgba(135,135,135,1);;
      position: absolute;
      height: 16%;
      background: #DCD9D9;
      border-radius: 0 0 25px 25px;
      top: 49px;
      left: 0;
      right: 0;
      width: 95%;
      margin: auto;
      border: 1px solid #000;
      border-top: 0;
      box-sizing: border-box;
      padding: 15px;

    }
    div.imagen{
      width: 25%;
      float:left;
      position: relative;
      box-sizing:border-box;
      &.true{
        border: 5px solid red;
      }
      img{
        width: 100%;
      }
      .pick-img {
        position: absolute;
        right: 0;
        width: 30%;
        height: 30%;
        background: url("http://www.prudentialvanlines.com/moving-services/images/checkmark.png");
        background-size: 100% 100%;
        outline: none;
        border: 0;
      }
    }
    a {
      width: 100%;
      background: red;
      height: 10px;
      text-align: center;
      display: inline-block;
      padding: 5% 0;
      margin-bottom: 0.5%;
    }
  }
}


/*
 *
 * GLOBAL SEETINGS
 */

 .photo-page-picker .container .username-hidden-field.reset_value {
  -webkit-transform:translate3d(0,0,0);
 }
